<footer class="page-footer bg-dark font-small">
  <div class="container-fluid">
    <div class="row justify-content-center py-3">
      <div class="col-5 col-lg-3 mt-lg-4 text-center">
        <h5 class="font-weight-bold h6 text-uppercase">A PROPOS</h5>
        <ul class="list-unstyled">
          <li><small><a href="index.php">.....</a></small></li>
          <li><small><a href="programmation.php">.....</a></small></li>
          <li><small><a href="#">.....</a></small></li>
          <li><small><a href="#">.....</a></small></li>
        </ul>
      </div>
      <div class="col-5 col-lg-3 mt-lg-4 text-center">
        <h5 class="font-weight-bold h6 text-uppercase">Informations</h5>
        <ul class="list-unstyled">
          <li><small><a href="mentionlegales.component.html">Mentions légales</a></small></li>
          <li><small><a>Données Personnelles</a></small></li>
          <li><small><a>Contact</a></small></li>
          <li><small><a>Gestion des cookies</a></small></li>
        </ul>
      </div>
     
    </div>
    <hr class="w-75 bg-white" />
    <div class="row justify-content-center">
      <div class="col-12 text-center my-2">
        <img src="../assets/img/CocaIcon.png" class="img-fluid m-2" style="height: 30px;" />
        <img src="../assets/img/uberIcon.png" class="img-fluid m-2" style="height: 30px;" />
        <img src="../assets/img/spotifyIcon.png" class="img-fluid m-2" style="height: 30px;" />
        <img src="../assets/img/googleIcon.png" class="img-fluid m-2" style="height: 30px;" />
        <img src="../assets/img/amazonIcon.png" class="img-fluid m-2" style="height: 30px;" />
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-3">
    © 2020
    <span>AlimEvo</span>
  </div>
 </footer>
