<!-- Button trigger modal -->
<!--
<button type="button"(click)="ck_click()" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
  Connexion
</button>-->

<a (click)="ck_click()" data-toggle="modal" data-target="#exampleModalLong" class="text-co"> Connexion</a>
<!-- Modal -->
<div #ckmodal class="modal fade" id="exampleModalLong" tabindex="-1" role="" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Créer votre compte</h5>
        <button type="button" (click)="ck_close()" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="connectionForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input formControlName="pseudo" type="text" class="form-control" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input formControlName="password" type="password" class="form-control" placeholder="Password">
          </div>
          <button [disabled]="!connectionForm.valid" type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
