p {
  font-size: 1.5em;
  color: black;
  background-color: transparent;
  background-image: none;
 
}

.container-hp {
  background-image: url("..\..\assets\Accueil.jpg");
  background-repeat:no-repeat;
  background-size:contain;
  background-size:100%;
  height:200px;
  background-position-y:-25rem;

  background-attachment:fixed;
  height:100%;
}
.test {
  text-align: center;
  align-content: center;
}

.wrapper {
  width: 100%;
  height: 10vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search_box {
  width: 50%;
  position: relative;
}

.search_box input[type="text"] {
    width: 100%;
    padding: 20px;
    padding-right: 60px;
    box-sizing: border-box;
    background: rgba(0,0,0,0.3);
    border: 2px solid #fff;
    border-radius: 10px;
    font-size: 18px;
    color: #fff;
    outline: none;
}
.fa-search {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 25px;
  color: #fff;
  font-size: 25px;
}



